@use './animations.scss' as *;

// для заголовка NewsAPI
.effect-moving-text {
    display: inline-block;
    position: relative;

    background: linear-gradient(90deg,
            red,
            orange,
            red);
    background-size: 200% 100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation:
        gradientMove 2s linear infinite,
        glowPulse 2s ease-in-out infinite;

    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
        color: orange;

    }
}