.footer {

    h5,
    p,
    a {
        font-weight: 100;
    }

}

.contactsSocial {
    margin: 30px 0 0 10px;
}

.contactsLink {
    margin-right: 25px;

    svg path {
        fill: #ffffff;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    &:hover {
        text-decoration: none;
    }
}

.contactsLinkGitHub {
    &:hover {
        svg path {
            fill: #ffffffbd;
        }
    }
}

.contactsLinkInstagram {
    &:hover {
        svg path {
            fill: #E1306C;
        }
    }
}

.contactsLinkTelegram {
    &:hover {
        svg path {
            fill: #27a7e7;
        }
    }
}