@use '../../app/styles/variables.scss' as *;
@use '../../app/styles/mixins.scss' as *;

.about {
    background: #fff;
    box-shadow: 0px 29px 52px -2px rgba(34, 60, 80, 0.08);
}

.imageWrapper {
    position: relative;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.titleSection {
    position: absolute;
    top: -30px;
    right: -265px;
    z-index: 10;
}

.title {
    @include section-title;
}

.decoratedTitle {
    &::before {
        content: "❋";
        position: absolute;
        left: 310px;
        top: -12%;
        transform: translateY(-50%) rotate(-13deg);
        font-size: 5.5rem;
        color: #000;
        z-index: 10;
        opacity: 0.7;
        pointer-events: none;
        transition: all 0.4s ease;
    }
}

.decoratedTitle:hover::before {
    transform: translateY(-50%) rotate(30deg) scale(1.2);

}

.contentSection {
    font-size: 1.1rem;
    line-height: 1.4;
    letter-spacing: 0.04em;
}

@media (max-width: 1400px) {
    .contentSection {
        margin-top: 150px;
    }
}

@media (max-width: 1199px) {
    .contentSection {
        margin-top: 40px;
    }

    .titleSection {
        top: -40px;
        right: -20px;
    }
}

@media (max-width: 992px) {
    .contentSection {
        margin-top: 0px;
    }

    .titleSection {
        right: -10px;
    }

    .title {
        font-size: 4.2rem;
    }

    .decoratedTitle::before {
        left: 255px;
        top: -15%;
        font-size: 4.2rem;
        transform: translateY(-50%) rotate(-12deg);
    }

    .decoratedTitle:hover::before {
        transform: translateY(-50%) rotate(25deg) scale(1.15);
    }

    .contentSection {
        padding-top: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 768px) {
    .titleSection {
        top: -55px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        text-align: center;
    }

    .title {
        font-size: 3.2rem;
    }

    .decoratedTitle::before {
        left: 102%;
        top: -10%;
        font-size: 3.2rem;
    }
}

@media (max-width: 576px) {
    .aboutWrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .title {
        font-size: 2.6rem;
    }

    .decoratedTitle::before {
        top: -28%;
        font-size: 2.6rem;
    }
}