// form.module.scss
.form {
    margin: 0 auto;
    padding: 0;
    max-width: 300px;
    min-height: 400px;
    background-color: rgba(var(--bs-dark-rgb), 0.9);
    border-radius: 4px;
    box-shadow: 7px 5px 20px 8px rgba(0, 0, 0, 0.25);

    & .formHeader {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        font-style: italic;
        text-transform: uppercase;
        color: #fff;
    }

    & .label {
        // Изолируем стили для label
        display: block;
        margin-top: 3px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }

    & .input {
        // Изолируем стили для input
        width: 100%;
        height: 20px;
        margin-top: 8px;
        padding: 5px;
        background: #fff;
        border: 1px solid #e2e2e2;
        color: #353535;
        border-radius: 3px;
        font-size: 16px;

        &:focus {
            outline: 1px solid #f57507;
        }
    }

    & .textarea {
        height: 80px;
        width: 100%;
        margin-top: 8px;
        padding: 5px;
        font-size: 16px;
        background: #ffffff;
        border: 1px solid #e2e2e2;
        color: #353535;
        border-radius: 3px;
        resize: none;
        text-align: left;
        vertical-align: top;

        &:focus {
            outline: 1px solid #f57507;
        }
    }

    & .checkboxInput {
        display: inline;
        font-size: 16px;
        width: 25px;
        height: 25px;
        margin-top: 0;
        margin-right: 20px;
        appearance: none;
        border: 1px solid #ffffff;
        background-color: #cb0000;

        &:checked {
            background-color: #00a308;
        }
    }

    & .checkbox {
        display: flex;
        align-items: center;

    }

    & .button {
        display: block;
        width: 100px;
        padding: 15px;
        margin-top: 15px;
        text-align: center;
        line-height: 0;
        font-size: 14px;
        color: #ffffff;
        border: 0;
        border-radius: 4px;
        background-image: linear-gradient(190deg, #ffffff, #000000);
    }

    & .error {
        color: #f57507;
        margin-top: 8px;
        font-weight: 100;
    }

    & .link {
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        position: relative;

        &:hover::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 160px;
            height: 1px;
            background-color: #ffffff;
        }
    }
}