.switcherSlider {
    margin: 2rem;
    display: inline-flex;
    gap: 1rem;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.346);
    border-radius: 99em;
    background: rgba(255, 255, 255, 0.085);

    .button {
        all: unset;
        cursor: pointer;
        padding: 6px 18px;
        border-radius: 99em;
        border: none;
        font-size: 0.85rem;
        font-weight: 600;
        color: #000000b3;
        background: #d9d9d98a;
        transition: background 0.2s ease, color 0.2s ease;
    }

    .active {
        background: #d9d9d9;
        color: #0000002a;
    }
}