@use '../../app/styles/variables.scss' as *;
@use '../../app/styles/mixins.scss' as *;

@use '../../app/styles/effects.scss' as *;

.news {
    margin-top: 240px;
    min-height: 50vw;
    background-size: 60%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.titleNews {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5rem;

    h1 {
        @include section-title;
        right: 0px;

        &::after {
            content: '';
            display: block;
            margin-left: 6px;
            width: 115px;
            height: 4px;
            background: #000;
            margin-top: 1rem;
        }
    }

    h2 {
        @include section-subtitle;

        a {
            text-decoration: none;
            color: inherit;

            span {
                @extend .effect-moving-text;
                font-weight: 700;
            }
        }
    }
}

// карточки
.newsCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 29px 52px -2px rgba(34, 60, 80, 0.08);
}

.newsCard img {
    height: 200px;
    object-fit: cover;
}

.newsCard .card-body {
    flex-grow: 1;
}

// чтоб текст не растягивал карточку
.cardTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// ссылка 
.customLink {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 1px;
    color: $main-color;
    font-weight: 500;

    &:hover {
        border-bottom: none;
    }
}

// спиннер loading
.loaderWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

// кнопки
.newsBtn {
    @include btn-news;
    margin: 2.5rem auto;
    align-items: center;
}

.loadMoreWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

@media (max-width: 992px) {
    .news {
        margin-top: 40px;
        .title {
            font-size: 4.2rem;
        }

        .subtitle {
            font-size: 1.5rem;
        }
    }

    .titleNews {
        padding-bottom: 60px;
        padding-right: auto;
    }
}

@media (max-width: 768px) {

    .news {
        .title {
            font-size: 3.2rem;
        }

        .subtitle {
            font-size: 1rem;
        }
    }
}

@media (max-width: 576px) {

    .news {
        .title {
            font-size: 1.8rem;
            padding-right: 0;
            text-align: center;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

    .titleNews {
        padding-right: 0;
        text-align: center;
        align-items: center;

        h1 {
            &::after {
                display: none;
            }
        }
    }
}