@use '../../app/styles/variables.scss' as *;
@use '../../app/styles/mixins.scss' as *;

.news {
    margin-top: 150px;
    min-height: 50vw;
    background-size: 60%;
    background-position: bottom right;
    background-repeat: no-repeat;

    .titleNews {
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 5rem;

        h1 {
            @include section-title;
            right: 0px;

            &::after {
                content: '';
                display: block;
                margin-left: 6px;
                width: 115px;
                height: 4px;
                background: #000;
                margin-top: 1rem;
            }
        }

        h2 {
            @include section-subtitle;
        }
    }
}
// карточки
.newsCard {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.newsCard img {
    height: 200px;
    object-fit: cover;
}

.newsCard .card-body {
    flex-grow: 1;
}

// чтоб текст не растягивал карточку
.cardTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}